<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Khăn choàng, Nón Thời Trang, Khăn Turban, Băng Đô &amp; Cài Tóc, Khăn Quàng Cổ &amp; Phụ Kiện Thời Trang Nữ">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="fontawesome/css/all.min.css" rel="stylesheet">
    <script src="js/chucnang.js"></script>
    <title>
        Nón Cói Đi Biển Form Mềm Phối Nơ Nhỏ Màu Nâu Tanin - Mã NC071 – Khăn Phụ Kiện
    </title>
    <link rel="shortcut icon" href="http://theme.hstatic.net/1000111569/1001042649/14/favicon.png?v=18"
        type="image/png">
        <script src="js/angular/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="js/angular/global.js"></script>
    <script src="js/angular/chitiet.js"></script>
</head>

<body ng-app="AppBanHang" ng-controller="ChiTietCtrl">
    <!-- MENU MAIN -->

    <div class="container" style="margin-top: 0px;position: relative;">
        <div class="banner-top1">
            <div>
                <div class="logo">
                    <h1 class="hidden"></h1>
                    <a href="#" title="Khăn Phụ Kiện">
                        <img src="//theme.hstatic.net/1000111569/1001042649/14/logo.png?v=18" alt="Khăn Phụ Kiện">
                    </a>

                </div>
            </div>
            <div>
                <div style="margin-top: 1%; width: 100%;">
                    <form action="#">
                        <div style="display: flex;">
                            <input type="hidden" name="type" value="product">
                            <form action="#" style="margin:auto;max-width:300px">
                                <input type="text" placeholder="     Bạn cần tìm gì?" name="search2"
                                    style="line-height: 40px;font-size: 12px; border-radius: 7px;color: grey;width: 320px;">
                                <button type="submit"
                                    style="margin-top: 0.5%;margin-left: -45px; border: none;width: 40px;height: 40px;background-color: white"><i
                                        class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
            <div style="float: right;text-align: right; width: 50%;margin-right: 8%;">
                <ul>
                    <li>
                        <div>
                            <button
                                style="border-radius:50px ; font-size:14px;width: 40px;height: 40px; border: none;"><i
                                    class="fa-solid fa-phone" aria-hidden="true"></i></button>
                            BÁN HÀNG: <a href="tel:0909251500" style="color: black;">
                                <span>0909251500</span>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div>
                            <a href="#" style="color: black; font-size:14px">
                                <i class="fa-regular fa-file" aria-hidden="true"></i>
                                <span">82 Hồ Biểu Chánh, Phường 11, Quận Phú Nhuận, Tp Hồ Chí Minh</span>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="menu-r">
            <a href="/GioHang.html"><i class="fa-solid fa-cart-shopping"><span id="cart-count">0</span></i></a>
            <a href="/Login.html"><i class="fa-solid fa-user" style="margin-right: 1%;"></i></a>

        </div>
        <nav>
            <ul>
                <li ng-repeat="x in listDanhMuc"> 
                    <a href="#" title="{{x.tenLoai}}">
                    <img ng-src="{{current_img + x.hinhAnhMinhHoa}}" alt="">
                    {{x.tenLoai}}
                    </a>

                </li>
            </ul>
            <!-- <ul>
                <li>
                    <a href="#" title="Trang sức">
                        <img src="img/icon_menu_1.png?v=18" alt="">
                        <br>Trang sức
                    </a>
                    <ul>
                        <li>
                            <a href="#" title="Tất cả bông tai"> Tất cả bông tai <i class="fa-solid fa-angle-right"
                                    style="margin-left:60%;margin-top: 10px;"></i>
    
                            </a>
                            <ul>
                                <li><a href="#" title="Bông tai bạc cao cấp">Bông tai bạc cao cấp</a></li>
                                <li><a href="#" title="Bông tai Boho Vitage">Bông tai Boho Vitage</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="Dây Chuyền Nữ - Vòng Cổ Bạc">Dây Chuyền Nữ - Vòng Cổ Bạc</a></li>
                        <li><a href="#" title="Lắc tay - Vòng đeo tay">Lắc tay - Vòng đeo tay <i
                                    class="fa-solid fa-angle-right" style="float: right;margin-top: 10px;"></i></a>
                            <ul>
                                <li><a href="#" title="Lắc Tay Nữ - Vòng đeo tay bạc">Lắc Tay Nữ - Vòng đeo tay bạc</a></li>
                                <li><a href="#" title="Vòng tay Boho Vitage">Vòng tay Boho Vitage</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="Cài Áo cao cấp - Hòa cài áo">Cài Áo cao cấp - Hòa cài áo</a></li>
                        <li><a href="#" title="Dây nịt - Thắt lưng nữ - Đai váy">Dây nịt - Thắt lưng nữ - Đai váy</a></li>
                        <li><a href="#" title="Hộp bảo quản trang sức">Hộp bảo quản trang sức</a></li>
                        <li><a href="#" title="Trâm cài tóc">Trâm cài tóc</a></li>
                        <li><a href="#" title="Mắt kính - Kính mát">Mắt kính - Kính mát</a></li>
    
                    </ul>
                </li>
                <li><a href="#" title="Mũ & nón">
                        <img src="img/icon_menu_2.png?v=18" alt="">
                        <br>Mũ & nón</a>
                    <ul>
                        <li><a href="#" title="Mũ Nón Cao Cấp">Mũ Nón Cao Cấp</a></li>
                        <li>
                            <a href="#" title="Mũ Vành-Nón cói Nữ">Mũ Vành-Nón cói Nữ
                                <i class="fa-solid fa-angle-right" style="float: right;margin-top: 20px;"></i>
                            </a>
                            <ul>
                                <li><a href="#" title="Nón Cói Hot">Nón Cói Hot</a></li>
                                <li><a href="#" title="Nón Form Mềm"> Nón Form Mềm</a></li>
                                <li><a href="#" title="Nón Cói Form Cứng">Nón Cói Form Cứng</a></li>
                                <li><a href="#" title="Nón Cói Vành Rộng">Nón Cói Vành Rộng</a></li>
                                <li><a href="#" title="Nón Cói Vành Nhỏ">Nón Cói Vành Nhỏ</a></li>
                                <li><a href="#" title="Nón Cói Đi Biển">Nón Cói Đi Biển</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="Mũ Cói di biển">Mũ Cói đi biển</a></li>
                        <li><a href="#" title="Mũ Len - Nón Beret Nữ">Mũ Len - Nón Beret Nữ</a></li>
                        <li><a href="#" title="Mũ Bucket - Nón Vải Nữ">Mũ Bucket - Nón Vải Nữ</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="Khăn choàng"><img
                            src="img/icon_menu_3.png?v=18" alt="">
                        <br>Khăn choàng
                    </a>
                    <ul>
                        <li><a href="#" title="Khăn choàng bán chạy">Khăn choàng bán chạy</a></li>
                        <li><a href="#" title="Khăn choàng Lụa/Silk">Khăn choàng Lụa/Silk</a></li>
                        <li><a href="#" title="Khăn choàng thổ cẩm/Boho">Khăn choàng thổ cẩm/Boho</a></li>
                        <li><a href="#" title="Khăn choàng đi biển">Khăn choàng đi biển</a></li>
                        <li><a href="#" title="Khăn choàng Cashmere">Khăn choàng Cashmere</a></li>
                        <li><a href="#" title="Khăn choàng Cổ Nam">Khăn choàng Cổ Nam</a></li>
                        <li><a href="#" title="Khăn phối áo Vest">Khăn phối áo Vest</a></li>
                        <li><a href="#" title="Nút cài khăn - Nhẫn cài khăn">Nút cài khăn - Nhẫn cài khăn</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="Khăn vuông">
                        <img src="img/icon_menu_4.png?v=18" alt="">
                        <br>
                        Khăn vuông</a>
                    <ul>
                        <li><a href="#" title="Tất cả khăn lụa vuông">Tất cả khăn lụa vuông</a></li>
                        <li><a href="#" title="Khăn vuông 70*70cm">Khăn vuông 70*70cm</a></li>
                        <li><a href="#" title="Khăn vuông 90*90cm">Khăn vuông 90*90cm</a></li>
                        <li><a href="#" title="Khăn vuông 60*60cm">Khăn vuông 60*60cm</a></li>
                        <li><a href="#" title="Khăn Bandana">Khăn Bandana</a></li>
                        <li><a href="#" title="Khăn Turban">Khăn Turban</a></li>
                        <li><a href="#" title="Khăn đồng phục">Khăn đồng phục</a></li>
                        <li><a href="#" title="Nút cài khăn - Nhẫn cài khăn">Nút cài khăn - Nhẫn cài khăn</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="Phụ kiện tóc"><img
                            src="img/icon_menu_5.png?v=18" alt="">
                        <br>
                        Phụ kiện tóc
                    </a>
                    <ul>
                        <li><a href="#" title="Hàng cao cấp">Hàng cao cấp</a></li>
                        <li>
                            <a href="#" title="Băng đô & cài tóc">Băng đô & cài tóc
                                <i class="fa-solid fa-angle-right" style="float: right;margin-top: 20px;"></i>
                            </a>
                            <ul>
                                <li><a href="#" title="Hàng cao cấp">Hàng cao cấp</a></li>
                                <li><a href="#" title="Băng đô">Băng đô</a></li>
                                <li><a href="#" title="Cài tóc">Cài tóc</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="Kẹp tóc">Kẹp tóc
                                <i class="fa-solid fa-angle-right" style="float: right;margin-top: 20px;"></i>
                            </a>
    
                            <ul>
                                <li><a href="#" title="Kẹp tóc đính đá">Kẹp tóc đính đá</a></li>
                                <li><a href="#" title="Kẹp tóc càng cua">Kẹp tóc càng cua</a></li>
                                <li><a href="#" title="Kẹp tóc ngọc trai">Kẹp tóc ngọc trai</a></li>
                                <li><a href="#" title="Kẹp tóc trung niên, cho mẹ, cho bà">Kẹp tóc trung niên, cho mẹ, cho
                                        bà</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="Mấn áo dài, Mấn đội đầu cách tân">Mấn áo dài, Mấn đội đầu cách tân</a></li>
                        <li><a href="#" title="Cột tóc">Cột tóc</a></li>
                        <li><a href="#" title="Trâm cài tóc">Trâm cài tóc</a></li>
                        <li><a href="#" title="Cài che tóc bạc / Che hói">Cài che tóc bạc / Che hói</a></li>
                        <li><a href="#" title="Kẹp tóc cho người trung niên / lớn tuồi (Bà, Mẹ,...)">Kẹp tóc cho người trung
                                niên / lớn tuồi (Bà, Mẹ,...)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="Túi xách & ví">
                        <img src="img/icon_menu_7.png?v=18" alt="">
                        <br>
                        Túi xách & ví
                    </a>
                    <ul>
                        <li><a href="#" title="Túi Xách & Ví">Túi xách & Ví</a></li>
                        <li><a href="#" title="Túi xách da">Túi xách da</a></li>
                        <li><a href="#" title="Túi Cói Vintage">Túi Cói Vintage</a></li>
                        <li><a href="#" title="Ví">Ví</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="BST Vintage">
                        <img src="img/icon_menu_8.png?v=18" alt="">
                        <br>
                        BTS Vintage
                    </a>
                    <ul>
                        <li><a href="#" title="Túi Cói Vintage">Túi Cói Vintage</a></li>
                        <li><a href="#" title="Vòng Đeo tay Boho">Vòng Đeo tay Boho</a></li>
                        <li><a href="#" title="Bông Tai Boho Vintage">Bông Tai Boho Vintage</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="Phụ kiện">
                        <img src="img/icon_menu_9.png?v=18" alt="">
                        <br>
                        Phụ kiện
                    </a>
                    <ul>
                            <li><a href="#" title="Phụ kiện cho bé">Phụ kiện cho bé</a></li>
                            <li><a href="#" title="Cài áo cao cấp">Cài áo cao cấp</a></li>
                            <li><a href="#" title="Vòng tay Boho">Vòng tay Boho</a></li>
                            <li><a href="#" title="Dây Nịt - Thắt lưng - Đai váy">Dây Nịt - Thắt lưng - Đai váy</a></li>
                            <li><a href="#" title="Kính Mát Nữ"> Kính Mát Nữ</a></li>
                            <li><a href="#" title="Tất Nữ - Vớ đẹp"> Tất nữ - vớ đẹp</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="Hướng dẫn">
                        <img src="img/icon_menu_10.png?v=18" alt="">
                        <br>
                        Hướng dẫn
                    </a>
                    <ul>
                        <li><a href="#" title="Hướng dẫn">Hướng dẫn</a></li>
                        <li><a href="#" title="Tin thời trang">Tin thời trang</a></li>
                        <li><a href="#" title="Top 10 Dây chuyền bạc - Vòng cổ nữ đẹp">Top 10 Dây chuyền bạc - Vòng cổ nữ đẹp</a></li>
                        <li><a href="#" title="Top 10 Khăn Quàng cổ Len - Khăn Choàng Cổ Nữ đẹp">Top 10 Khăn Quàng cổ...</a></li>
                    </ul>
                </li>
    
    
            </ul> -->
        </nav>
    </div>
    <div class="link-sp">
        <ul>
            <li><a href="/" itemprop="url" target="_self">Trang chủ</a></li>
            <li style="margin-right: 5px;"><i class="fa fa-angle-right"></i></li>
            <li class="active"><span itemprop="title">{{SanPham.tenSanPham}}</span></li>

        </ul>
    </div>

    <div class="CTSP">
        <div style="width:46%;">
            <img src="http://localhost:2487/{{SanPham.hinhDaiDien}}"
                alt="">
        </div>
        <div class="in4">
            <p>
                {{SanPham.tenSanPham}}
            </p>
            <br>
            <p style="font-size: 13px;color: grey;">Mã sản phẩm: {{SanPham.maSanPham}}</p>

            <div class="gia">
                <span>{{SanPham.donGia}} đ</span>

            </div>
            <div class="soluong">
                <label>Số lượng:</label>
                <!-- <div class="input-group">
                    <button value="" onclick="minusQuantity()">-</button>
                    <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
                    <button onclick="plusQuantity()">+</button>
                </div> -->
            </div>
            <div>
                <button class="addgiohang" ng-click="addToCart({id: SanPham.maSanPham, image: 'http://localhost:2487/' + SanPham.hinhDaiDien, price: SanPham.donGia, name: SanPham.tenSanPham})">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Thêm vào giỏ</span>
                </button>
                
                <button style="display: none;">
                    <span class="icon_cart_btn"></span>
                    <span>Mua ngay</span>
                </button>
            </div>
            <div class="binhluan"
                style="background-color: rgb(255, 255, 255); border-style: dashed; border-color: rgb(64, 177, 65); border-width: 2px; border-radius: 5px;">
                <div class="ega-sales-box__item"><img class="ega-sales-box__left"
                        src="https://theme.hstatic.net/1000111569/1000677750/14/egageneralproductoffers5icon.png?v=149"
                        style="width: 32px;">
                    <div class="ega-sales-box__content">
                        <div>
                            <p><strong>Ý KIẾN KHÁCH HÀNG:</strong></p>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="https://theme.hstatic.net/1000111569/1000677750/14/egageneralproductoffers6icon.jpg?v=151"
                        style="width: 32px;">
                    <div>
                        <div>
                            <p><strong>An An</strong><em> (nhân viên văn phòng)<br></em><span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span>&nbsp;</p>
                            <p>Thiết kế đẹp, giao hàng nhanh. Shipper cũng dễ thương nữa 🥰🥰</p>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="https://theme.hstatic.net/1000111569/1000677750/14/egageneralproductoffers7icon.jpg?v=153"
                        style="width: 32px;">
                    <div>
                        <div>
                            <p><strong>Thiên Bình</strong><em> (Model ảnh)<br></em><span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span>&nbsp;&nbsp;</p>
                            <p>Hộp rất dễ thương, hàng cũng chất lượng hơn chỗ khác nữa. Tks shop</p>
                        </div>
                    </div>
                </div>
                <div><img
                        src="https://theme.hstatic.net/1000111569/1000677750/14/egageneralproductoffers8icon.jpg?v=153"
                        style="width: 32px;">
                    <div>
                        <div>
                            <p><strong>Hà Ngân</strong> <em>(Giáo viên mầm non)<br></em><span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span> <span
                                    style="color: rgb(63,64,71);background-color: rgb(255,255,255);font-size: 13px;font-family: Open Sans"
                                    ,="" sans-serif;"="">⭐</span>&nbsp;&nbsp;</p>
                            <p>Mua online ở nhiều chỗ rồi, thấy ở Khăn Phụ Kiện là bán phụ kiện uy tín nhất. Shop phục
                                vụ cũng nhiệt tình nữa. Cảm ơn món quà shop tặng kèm nhé &lt;3</p>
                        </div>
                    </div>
                </div>
                <div><a target="_blank"
                        href="https://egany.com/blogs/ux-ui-addon/ux-ui-add-ons-bo-sung-tinh-nang-doc-dao-cho-website"
                        style="background-color: #85BF31; color: rgb(255, 255, 255); font-size: 10px; display: flex; padding: 2px 0px; align-items: center; justify-content: center; max-width: 100%; margin-left: auto; margin-right: auto;margin-top: 5px"><span
                            style="flex: 0 0 16px; height: 16px; background-color: rgb(255, 255, 255); max-width: 16px; border-radius: 50%; text-align: center; line-height: 12px; margin-right: 5px;"><img
                                src="https://file.hstatic.net/1000336704/file/logo-egany_08f96b38b30145e0b6a8f350c8ff6545.png"
                                style="height: 12px; width: 12px;"></span><span>Đây là giải pháp trải nghiệm phát triển
                            bởi EGANY</span></a></div>
            </div>
        </div>
        <div class="tienich">
            <div class="title1">
                CAM KẾT CỦA KHĂN PHỤ KIỆN
            </div>
            <div class="camket">
                <div style="display: flex;">
                    <div class="flexbox-auto-45px flexbox-align-self-center">
                        <img src="https://theme.hstatic.net/1000111569/1001042649/14/icon-service-1.png?v=18">
                    </div>
                    <div>
                        <p>Kiểm hàng &amp; thanh toán</p>
                        <span>Khách hàng được kiểm tra hàng thoải trước khi khi nhận</span>
                    </div>
                </div>


                <div style="display: flex;">
                    <div>
                        <img src="https://theme.hstatic.net/1000111569/1001042649/14/icon-service-2.png?v=18">
                    </div>
                    <div>
                        <p>Giao hàng trong 30 phút</p>
                        <span>Giao hàng trong 30 phút chỉ 29.000đ </span>
                    </div>
                </div>



                <div style="display: flex;">
                    <div>
                        <img src="https://theme.hstatic.net/1000111569/1001042649/14/icon-service-3.png?v=18">
                    </div>
                    <div>
                        <p>Đổi trả miễn phí</p>
                        <span>Miễn phí đổi trả trong 30 ngày (không cần lý do)</span>
                    </div>
                </div>




                <div style="display: flex;">
                    <div>
                        <img src="https://theme.hstatic.net/1000111569/1001042649/14/icon-service-4.png?v=18">
                    </div>
                    <div>
                        <p>Miễn phí giao hàng</p>
                        <span>Miễn phí giao hàng từ 150k</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="display: flex;">
        <div class="MoTaSP">
            <div class=" tt-mota">
                <a href="#">
                    <i class="fa-solid fa-bars"></i>
                    Mô tả sản phẩm
                </a>
            </div>
            <h2>
                {{SanPham.tenSanPham}}
            </h2>
            <ul>
                <li>Size: free</li>
                <li>Chất liệu: Cói</li>
                <li>Form chuẩn đẹp, nhẹ nhàng, không gây nặng đầu</li>
                <li>Màu: Nâu Tani</li>
            </ul>
            <div class="anh_mota">
                <img src="http://localhost:2487/{{SanPham.hinhDaiDien}}" alt="">
            </div>
            <div class="anh_mota">
                <img src="http://localhost:2487/{{SanPham.hinhAnDi}}" alt="">
            </div>
            <strong>Mô tả sản phẩm mũ nón đi biển sợi cói tự nhiên</strong>
            <ul class="MoTa_chitiet">
                <li>Được làm từ chất liệu cối mềm, thoáng mát cho ngày hè nóng bức</li>
                <li>Với thiết kế dây nơ trên nón giúp trông nhẹ nhàng và tinh tế hơn</li>
                <li>Giúp che nắng, bảo vệ da, thể hiện sự phong cách, cá tính</li>
            </ul>

            <strong>Sử dụng và phối đồ với mũ nói thời trang:</strong>
            <ul class="MoTa_chitiet">
                <li>Không những đi biển, nón còn dùng trong những hoạt động hằng ngày như dạo
                    phố, picnic</li>
                <li>Giá trị của chiếc mũ càng tăng khi phối với những trang phục nữa tính</li>
                <li>Khôngnhất thiết phải là váy khi kết hợp với chiếc quần jean cùng chiếc áo trắng cũng thể hiện được
                    sự năng động, trẻ trung</li>
            </ul>
            <strong>Cam kết & bảo hành của <span><a href="TrangChu.html">shop Khăn Phụ Kiện</a></span>:</strong>
            <ul class="MoTa_chitiet">
                <li>Thương hiệu SINCE 2015</li>
                <li>Hàng loại 1 - Chất lượng cao cấp</li>
                <li>Đổi hàng 30 ngày không cần lý do</li>
                <li>Freeship</li>
                <li>Nhận hàng trong 30 phút ở Tp.HCM</li>
                <li>Kiểm hàng trước khi thanh toán</li>
            </ul>
            <div class="anh_mota">
                <img src="https://product.hstatic.net/1000111569/product/4fc8201370e88fb6d6f9_1d4282ff269b4f07a9a2e4817dedc643_large.jpg"
                    alt="">
            </div>
            <p>Bên cạnh quần áo, giày dép thì mũ đi biển cũng là một món phụ kiện không thể thiếu khi bạn đi du lịch,
                đặc biệt là đi biển. Ngoài tác dụng chính là che nắng thì một số dòng mũ nón thời trang cao cấp còn được
                trang bị thêm khả năng chống tia UV và chống nước giúp bảo vệ làn da dưới nắng. Khi lựa chọn mũ nón du
                lịch khi đi biển thì với những chiếc mũ cói thì dường như màu vàng nhạt và màu nâu chính là 2 thứ màu
                sắc chủ đạo nhất mang lại nét đẹp cho người dùng nên nó cũng được sử dụng nhiều nhất. Với kiểu dáng độc
                đáo, lạ mắt cùng thiết kế đa dạng thì những chiếc mũ cói thường được sử dụng là mũ có chóp phẳng vành
                nhỏ, mũ rộng vành và chiếc mũ có kiểu fedora. Trong những kiểu mũ nón du lịch này thì để chiếc mũ kết
                hợp dễ dàng nhất với những kiểu váy người ta thường chọn mũ rộng vành và chiếc mũ Fedora, còn những kiểu
                mỹ cói có chóp phẳng thì khác, nó có thể kết hợp với những bộ trang phục khác nhau có thể là chiếc váy
                điệu đà hay những bộ trang phục năng động, cá tính như quần jeans, áo phông… Bạn có thể thoải mái lựa
                chọn sao cho nó phù hợp với kiểu dáng và trang phục mà mình mang theo.
                <br>
                <br>
            </p>
            <strong>Xem thêm những phụ kiện thời trang Dành Riêng Cho Bạn:</strong>
            <ul class="MoTa_chitiet">
                <li>Click xem 👉 <span><a href="TrangChu.html">Những mẫu Khăn Len Quàng Cổ Đẹp Nhất</a></span></li>
                <li>Click xem 👉 <span><a href="TrangChu.html">Những Mẫu Khăn Choàng Cổ Boho Vintage Đẹp Nhất</a></span>
                </li>
                <li>Click xem 👉 <span><a href="TrangChu.html">Những Mẫu Khăn Choàng Cổ Lụa Nữ Đẹp Nhất</a></span></li>
                <li>Click xem 👉 <span><a href="TrangChu.html">Những Mẫu Mũ Đi Biển - Nón Rộng Vành Nữ Đẹp
                            Nhất</a></span></li>
            </ul>
        </div>
        <div class="tienich">
            <div class="title1">
                Sản phẩm liên quan
            </div>
            <div class="camket">
                <div style="display: flex;" ng-repeat="x in SanPham.listSP_tt">
                    <div style="width: 60%;">
                        <img
                            src="http://localhost:2487/{{x.hinhDaiDien}}">
                    </div>
                    <div>
                        <p>{{x.tenSanPham}}</p>
                        <div style="color:purple; font-size: 12px;margin-left: 25px;">
                            <span>{{SanPham.donGia}} đ</span>
                            

                        </div>
                    </div>
                </div>


                
            </div>
        </div>
    </div>


    <footer style="background-color: black; color:white;margin-top: 5%;padding-left: 5%;">
        <div style=" font-family:initial; display:flex;">
            <div style="margin-top: 3%;">
                <img src="https://theme.hstatic.net/1000111569/1001042649/14/logo-footer.png?v=18" alt="">
            </div>
            <div style="margin-top: 3%;margin-left: 2%;">
                <h4>Khăn Phụ Kiện</h4>
                <ul>
                    <li>CÔNG TY TNHH HILA VIỆT NAM<br>
                        Ngày ĐK: 16/04/2018<br>
                        Mã Số Thuế: 0314987556<br>
                        Số ĐKKD: 41P8018868 <br>
                        Ngày cấp: 12/09/2017<br>
                        Phòng đăng ký kinh doanh Sở Kế Hoạch Đầu Tư TPHCM<br>
                        Hotline: 0909.25.15.00
                    </li>
                </ul>

                <h4><i class="fa fa-map-signs"></i> HỆ THỐNG CỬA HÀNG</h4>

                <ul>
                    <li><i class="fa fa-map-marker mr5"></i>82 Hồ Biểu Chánh, Phường 11, Quận Phú Nhuận, Tp Hồ Chí Minh
                    </li>
                </ul>
            </div>
            <div style="margin-top: 3%; margin-left: 1%;margin-right: 3%;">
                <h4>THÔNG TIN HỖ TRỢ</h4>
                <ul>
                    <li>
                        <a href="#" title="Thanh Toán" style="color: white;">Thanh Toán</a>
                    </li>

                    <li>
                        <a href="#" title="Chính Sách Giao Nhận" style="color: white;">Chính Sách Giao Nhận</a>
                    </li>

                    <li>
                        <a href="#" title="Đổi Trả &amp; Bảo Hành" style="color: white;">Đổi Trả &amp; Bảo Hành</a>
                    </li>

                    <li>
                        <a href="#" title="Chính Sách Bảo Mật" style="color: white;">Chính Sách Bảo Mật</a>
                    </li>

                    <li>
                        <a href="#" title="Khách Hàng Thân Thiết" style="color: white;">Khách Hàng Thân Thiết</a>
                    </li>
                </ul>
            </div>
            <div style="margin-top: 3%;">
                <h4 class="">KẾT NỐI VỚI CHÚNG TÔI</h4>
                <div class="social">
                    <ul class="footer-list-menu">
                        <li>Hãy kết nối với chúng tôi.</li>
                    </ul>
                    <ul style="display: flex;justify-content: center; margin-top: 5px;margin-bottom: 5px;">

                        <li style="margin-right: 15px;">
                            <a target="_blank" href="https://www.facebook.com/yenshop1991">
                                <i class="fa-brands fa-facebook" style="color: #f2f2f2;font-size: 30px;"></i>
                            </a>
                        </li>
                        <li style="margin-right: 15px;">
                            <a style="color: white;" target="_blank" href="https://www.instagram.com/khanphukien/">
                                <i class="fa-brands fa-instagram" style="font-size: 30px;"></i></a>
                        </li>


                        <li style="margin-right: 15px;width: 30%;">
                            <a style="color: white;" target="_blank"
                                href="https://www.youtube.com/channel/UCJquPQtn2dqiZ33IzGIP_zA"><i
                                    class="fa-brands fa-youtube" style="font-size: 30px;"></i></a>
                        </li>

                    </ul>

                    <div>
                        <a href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=38057" target="_blank">
                            <img src="http://theme.hstatic.net/1000111569/1001042649/14/dkbocongthuong.png?v=18"
                                alt="Bộ công thương">
                        </a>
                    </div>

                </div>
            </div>
        </DIV>
        <div style="margin-top: 3%;">
            <p style="text-align: center;padding-bottom: 5px;">Một sản phẩm của Hila Việt Nam</p>
        </div>
    </footer>
</body>

</html>